# Copyright 2026 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Device specific drivers configuration"
     rsource "../../KW43B43ZC7/drivers/Kconfig_clock"
     rsource "../../KW43B43ZC7/drivers/Kconfig_romapi"
     rsource "../../KW43B43ZC7/drivers/Kconfig_memory"
endmenu
